'.platform-darwin atom-text-editor':
  'ctrl-e': 'run:file'
  'ctrl-shift-e': 'run:selection'

'.platform-win32 atom-text-editor, .platform-linux atom-text-editor':
  'alt-e': 'run:file'
  'alt-shift-e': 'run:selection'

'.platform-darwin .atom-runner':
  'cmd-c': 'run:copy'

'.platform-win32 .atom-runner, .platform-linux .atom-runner':
  'ctrl-c': 'run:copy'

'atom-workspace':
  'shift-ctrl-c': 'run:stop'

'.atom-runner':
  'escape': 'run:close'
